/*font-family: 'Questrial', sans-serif;*/
/*text #005F22*/
/*background #E3F9EC*/
body{
  padding: 0 auto;
  margin: 0 auto;
  background-color: #E3F9EC;
  font-family: 'Questrial', sans-serif;
  width: 100%;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background-color: #81c190;
}
.myinfo a{
  text-decoration: none;
  color:#fff;
}
.myresume{
  padding-right: 20px;
}
.email{
  padding-left: 20px;
}

.projectpreview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.aboutproject{
  font-size: 20px;
  width: 300px;
  color:#006531;
  text-align: center;
  margin:0 auto;
  padding-bottom: 10px;
}

.pro1 img{
  width: 300px;
  margin: 15px;
  padding-right: 15px;
  filter: grayscale(100%);
}
.pro1 img:hover{
  filter: grayscale(0%);
}
.pro2 img{
  width: 300px;
  margin:15px 0;
  padding-right: 15px;
  filter: grayscale(100%);
}
.pro2 img:hover{
  filter: grayscale(0%);
}
.pro3 img{
  width: 300px;
  margin: 15px;
  filter: grayscale(100%);
}
.pro3 img:hover{
  filter: grayscale(0%);
}
.pro1{
  width: 100%;
}
.pro2{
    background-color: #81c190;
    color: #fff;
    width: 100%;
  }

.pro3{
  width: 100%;
}
h2{
  color:#006531;
  text-align: center;
  font-weight: 400;
}
.aboutproject2 h2{
  color: #fff;
}
.aboutproject2{
  color: #fff;
}

.name-header{
  text-align: center;
  color:#006531;
  padding-right: 5px;
}
.aboutme{
  text-align: center;
    color:#006531;
    font-size: 16px;
    padding-right: 5px;
}
.socialmedia{
  background-color:#81c190;
}
.socialmedia footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.socialmedia a{
  background-color:#81c190;
  border-radius: 8px;
}
.emailaddress{
  text-align: center;
color:#fff;
padding-top: 10px;
}
.emailaddress a{
  text-decoration: none;
  color:#fff;
}
.logo img{
  width: 50px;
}
.linkedin{
  display: flex;
  flex-direction: row;
  width: 40px;
  padding:10px;
  margin: 10px;
}
.linkedin img{
  height: 40px;
}
.insta{
  display: flex;
  flex-direction: row;
  width:40px;
  padding:10px;
  margin: 10px;
}
.insta img{
  height: 40px;
}
.github{
  display: flex;
  flex-direction: row;
  width: 40px;
  padding:10px;
  margin: 10px;
}
.github img{
  height: 40px;
}

.homeme{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.mememe{
  color: #81c190;
  display: flex;
  flex-direction:column;
  font-size: 16px;
  margin: 20px;
}

.me img{
  height: 200px;
}
.me img:hover{
filter: grayscale(100%);
}
@media screen and (min-width: 425px){

  .me img{
    height: 200px;
  }
  .aboutme{
    font-size: 20px;
  }
  .name-header{
    font-size: 24px;
  }
  .pro1 img{
    width: 400px;
  }
  .pro2 img{
    width: 400px;
  }
  .pro3 img{
    width: 400px;
  }
.aboutproject{
  width: 400px;
}
.myinfo{
  font-size: 20px;
}
}
@media screen and (min-width: 720px){
  .me{
    margin: 20px;
}
  .homeme{
    width: 135%;
  }
  .projectpreview{
    width: 135%;
  }
  .socialmedia{
    width: 135%;
  }
  .logo img{
    width: 75px;
  }
.myinfo{
  width: 135%;
  text-align: center;
}
.projectstitle{
  display: flex;
  width: 135%;
  justify-content: center;
}
.homeme{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.mememe{
  color: #81c190;
  display: flex;
  flex-direction:column;
  margin: 20px;
}


}
@media screen and (min-width: 1030px) {

  .homeme{
    width: 100%;
  }

  .projectpreview{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }
  .me img{
    height: 400px;
  }
  .aboutme{
    font-size: 24px;
  }
  .name-header{
    font-size: 40px;

  }
  .pro1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pro1 img{
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .pro2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
  .aboutproject2{
    color: #fff;
    width: 450px;
    margin: 0;
  }
  .aboutproject2 h2{
    color: #fff;
}
  .pro2 img{
    width: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  }

  .pro3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pro3 img{
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.aboutproject{
  display: flex;
  flex-direction: column;
  width: 450px;
  font-size: 20px;
  line-height: 2em;
  justify-content: center;
  margin: 0;
}
h2{
  font-size: 40px;
}
.myinfo{
  font-size: 24px;
  width: 100%;
}
.socialmedia{
  padding-top: 15px;
  margin-top: 30px;
  width: 100%;
}
.projectstitle{
  display: flex;
  width: 100%;
  justify-content: center;
}
.logo img{
  width: 100px;
}
}
