footer{
  background-color: #4171c9;
  text-align: center;
  color: white;
  border-top-width:3px;
  border-top-color:#4171c9;
  border-top-style:solid;
  padding-top:25px;
  font-family: 'Playfair Display', serif;
}
.border{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100px;
  color: white;
}
