footer{
  background-color: #4171c9;
  text-align: center;
  color: white;
  border-top-width:3px;
  border-top-color:#4171c9;
  border-top-style:solid;
  padding-top:5px;
  font-family: 'Playfair Display', serif;
  height: 100px;
}
.border{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100px;
  color: white;
}
.navLink{
  text-decoration: none;
  padding-right: 20px;
  color: white;
  font-family:'Playfair Display', serif;
}
.navLink:hover{
  color:#022468
}
.imgsarah{
  width:350px;
  border-radius: 280px
}
.me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  align-content: center;
  align-items: center;
  background-color: #dae2ef;
  font-family: 'Arvo', serif;
}
.meme{
  color:#4171c9;
  text-align: center;
  align-self: center;
  font-size: 20px
}
.resumePic img{
  border-color: #dae2ef;
  border-style: solid;
  background-color: #dae2ef;
  border-width: 5px;
  height:1000px;
  display: flex;
  justify-content: center;
  padding: 20px
}

.link{
  padding:10px;
  font-size: 15px;
  border-color: #4171c9;
  border-width: 2px;
  border-style: solid;
  background-color: #dae2ef;
  align-content: end;
}
.bodyResume{
  display: flex;
  justify-content: center;
  color:#4171c9;
  align-items: center;
  background-color: #dae2ef
}
.allProjects{
  color:#4171c9;
  line-height: 50px;
  text-align: center;
  background-color: #dae2ef;
  font-family: 'Playfair Display', serif;
}
.pro img{
  width:300px;
  padding:10px;
  filter: grayscale(100%);
}
.pro img:hover{
  filter: grayscale(0%);

}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.process{
  color:#4171c9;
  border-color: #4171c9;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  text-align: center;
  padding: 5px
}
.live{
  color:#4171c9;
  border-color: #4171c9;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
  text-align: center;
  padding: 5px
}
.projectHead{
  color:#4171c9;
  text-align: center;
}
.project{
  color:#4171c9;
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: row
}
.project img{
  height:300px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.processProject{
  display: flex;
  flex-direction: column;
  color:#4171c9
}
.aboutProject{
  display: flex;
  flex-direction: column;
  color:#4171c9
}
.aboutPage{
  display: flex;
  flex-direction: row;
  color:#4171c9;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.aboutSarah{
color:#4171c9;
display: flex;
flex-direction: column;
}
.sarahBio{
  color:#4171c9;
  line-height: 35px;
  text-align: left;
  padding:0px 100px 60px 100px
}
.sarahBio p{
  padding: 0px 0 10px 0;
}
.sarahTitle{
  font-size:20px;
  text-align:left;
  padding:60px 100px 0 100px;
  font-weight: bold;
}
